@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CS504</h1>
    <p>The current time is @DateTime.Now @DateTime.Now.DayOfWeek</p>
</div>
